/* font */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Gabarito:wght@500;600&family=Roboto:wght@100&family=Work+Sans:wght@400;500;600&display=swap');

/* variables */
:root{
  --primary: #FEA116;
  --light: #F1F8FF;
  --dark: #0F172B;
  --font-main: 'Pacifico', cursive; 
}

/* start Global rules */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body{
  font-family: var(var(--font-main));
}
h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  font-family: "Nunito",sans-serif;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}

img{
  width: 100%;
  display: block;
}
/* end Global rules */


/* strat components */
.section-padding{
  padding-top: 60px;
  padding-bottom: 60px;
}
.ff-secondary{
  font-family: 'Pacifico', cursive;
}
.text-primary {
  color: #FEA116 !important;
}
.section-title{
  position: relative;
  display: inline-block;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px; 
  margin-top: 0px;
  background: var(--primary);
}
.main-btn{
  color: #fff;
  background-color: #FEA116;
  border-color: #FEA116;
  padding: 8px 24px;
  border-radius: 2px;
  font-weight: 500;
  text-transform: uppercase;
  transition: .5s;
}
.main-btn:hover{
  color: #fff;
  background-color: #dd8e17;
}
.main-title h5{
  position: relative;
  display: inline-block;
}
.main-title h5::after{
  position: absolute;
  content: '';
  width: 45px;
  height: 2px;
  background: var(--primary);
  top: 50%;
  right: -55px; 
}
.main-title h5::before{
  position: absolute;
  content: '';
  width: 45px;
  height: 2px;
  background: var(--primary);
  top: 50%;
  left: -55px; 
}
.main-title h1{
  font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #0F172B;
}
/* end components */

/* ============================== Navbar ============================== */
.bgcolor.scrolled{
  background-color: #0F172B;
}
.navbar{
  margin-top: 10px;
  transition: all 0.6s cubic-bezier(.165, .84, .44, 1);
}
.navbar h1,
.navbar h1 i{
  color: #FEA116;
}
.navbar .navbar-nav .nav-link{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
  transition: .5s;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover{
  color: #FEA116;
}

.navbar.scrolled {
  margin-top: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: white;
  background-color: #0F172B;
}
/* ============================= Hero Section ============================= */
 .hero{
  background-image: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../images/bg-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
}
.hero .img-hero img{
  animation: imgrotate 50s linear infinite;
}
@keyframes imgrotate{
  100%{
    transform: rotate(360deg);
    justify-content: space-between;
  }
}
/* ============================= Hero Section ============================= */
.services{
  background-color: #F1F8FF;
}
.services .box{
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
}
.services .box:hover{
  background-color:#FEA116;
}
.services .box i{
  color: #FEA116;
  transition: .5s;
}
.services .box  h5{
  margin-bottom: 0.5rem;
  font-family: "Nunito",sans-serif;
  font-weight: 800;
  line-height: 1.2;
  color: #0F172B;
  transition: .5s;
}
.services .box  p{
  margin-bottom: 1rem;
  transition: .5s;
}
.services .box:hover i,
.services .box:hover h5,
.services .box:hover p{
  color: #fff;
}
/* ============================== About section ============================== */
.about .content h5{
font-size: 30px;
}
.about .content h1{
  font-family: "Nunito",sans-serif;
  font-weight: 800;
  line-height: 1.2;
  color: #0F172B;
}
.about .content p{
  font-family: "Heebo",sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666565;
}
.border-primary{
  border-color: #FEA116 !important;
}
/* ============================== menu section ============================== */
.menus-section .active{
  border-bottom: 2px solid var(--primary);
}
.menus-section .image img{
  width: 80px;
}
/* ============================== Reservation section ============================== */
.reservation .image img{
  height: 100%;
}
.reservation .content{
  height: 100%;
}
/* ============================== team section ============================== */
.team .box{
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  height: calc(100% - 38px);
  transition: .5s;
}
.team .box:hover{
  height: 100%;
}
.team .box img{
  transition: all 0.4s ease-in-out;
}
.team .box:hover img{
  transform: scale(1.1);
}
.team .box .btn-primary{
  background-color: #FEA116 !important;
  border-color: #FEA116 !important;
  border-radius: 38px 38px 0 0;
}


/* ============================== Footer ============================== */
.footer{
  background-color: #0F172B !important;
}
.footer .arrow{
  display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}
.footer .arrow:hover{
  transform: scale(1.1);
}
.footer .arrow::before{
  position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}
.footer p{
  color: #fff;
}
.footer .btn-social{
   margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}
.footer .btn-social:hover{
  color: var(--primary);
  background-color:#FFFFFF ;
}
.footer .form-control{
  border-radius: 0 !important;
}
.footer .copyright{
  padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}
.footer .copyright .text,
.footer .copyright .text a{
  color: #fff !important;
}
.footer .copyright .footer-menu a{
  color: #fff !important;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}
.footer .copyright .footer-menu a:last-child{
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}